* {
  list-style: none;
  text-decoration: none;
}
#footerBlock {
  background-color: #111;
}
#footerBlock nav {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  min-height: 500px;
  display: flex;
}
.footerBlock1 {
  flex-basis: 20%;
  display: flex;
  justify-content: flex-start;
  margin-top: 60px;
}
#footerBlock .footerBlock1 svg {
  fill: #fff;
  width: 150px;
}
#footerBlock .footerBlock2 {
  display: flex;
  flex-basis: 50%;
  color: #fff;
}
.footerBlock2 {
  margin-top: 60px;
  font-size: 16px;
}
.block1 {
  padding: 10px 31px;
  line-height: 50px;
}
.block2 {
  padding: 12px 28px;
  line-height: 50px;
}
.block3 {
  padding: 10px 46px;
  line-height: 50px;
}
.footerBlock2 li:hover {
  color: #1ed760;
}
.block1 li:nth-child(1) {
  cursor: not-allowed;
  font-size: 12px;
  color: #ccc;
}
.block2 li:nth-child(1) {
  cursor: not-allowed;
  font-size: 12px;
  color: #ccc;
}
.block3 li:nth-child(1) {
  cursor: not-allowed;
  font-size: 12px;
  color: #ccc;
}
#footerBlock .footerBlock3 .fonts {
  display: flex;
  margin-top: 90px;
}
.fonts {
  flex-basis: 20%;
  margin-left: 40px;
}
.fonts li {
  padding: 8px 10px;
}
.fonts i {
  padding: 11px 13px;
  font-size: 28px;
  border-radius: 100%;
  background-color: #222326;
  color: #fff;
}
.fonts i:hover {
  color: #1ed760;
}

#footerBlock .footerPart {
  display: flex;
  padding: 20px 0px;
  flex-direction: column;
}
.footerPart .blockFooter {
  display: flex;
  justify-content: space-between;
}
.footerPart .global {
  display: flex;
  justify-content: flex-end;
  margin-right: 316px;
}
.footerPart .global span {
  color: #919496;
  padding: 0 3px;
}
.footerPart .global {
  font-size: 12px;
  margin-bottom: 10px;
  margin-right: 291px;
}
.blockFooter .footer1 ul {
  display: flex;
}
.footerPart .footer1 {
  margin-left: 175px;
}
.footerPart .footer2 {
  margin-right: 292px;
}

.footer1 ul li {
  padding: 0 10px;
}
.footer1 ul li a,
.footer2 ul li a {
  font-size: 18px;
  color: #919496;
  font-size: 12px;
}
.global span:nth-child(2):hover {
  color: #1ed760;
}
.blockFooter .footer1 a:hover {
  color: #1ed760;
}
